.d-item{
    height: 650px;
}
.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.titulo{
    text-shadow: black 0.1em 0.1em 0.2em
}
#scroll1{
    margin-top: 0;
}
#Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }