.d-item{
    height: 650px;
}
.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.titulo{
    text-shadow: black 0.1em 0.1em 0.2em
}
#scroll1{
    margin-top: 0;
}

.card-size {
    height: 15rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: azure;
    align-content: center;
    text-align: justify;
  text-justify: inter-word;
  letter-spacing: 2px;
  word-spacing: 0,3px;
    
}







