.d-item{
    height: 650px;
}
.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
#scroll1{
    background-image:url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}